# The full HTTP/HTTPS URL of your local Jellyfin server (Do not use localhost inside Docker!)
JELLYFIN_URL=http://192.168.1.X:8096

# Your Jellyfin API Key (Generated under Dashboard > API Keys)
JELLYFIN_API_KEY=your_api_key_here

# Your Jellyfin User ID (Found in the URL when clicking your profile under Dashboard > Users)
JELLYFIN_USER_ID=your_user_id_here

NEXT_PUBLIC_JELLYFIN_URL=http://192.168.1.X:8096